<template>
  <div>
    <div>
      <button @click="addRectangle">Agregar Rectángulo</button>
      <button @click="addCircle">Agregar Círculo</button>
      <button @click="addArc">Agregar Arco</button>
      <button @click="saveStageToJson">Guardar Stage</button>
      <button @click="loadStageFromJson">Cargar Stage</button>
    </div>
    <v-stage
      ref="stage"
      :config="stageSize"
      @mousedown="handleStageMouseDown"
      @touchstart="handleStageMouseDown"
      @keydown.ctrl.c="copyShape"
      @keydown.ctrl.v="pasteShape"
    >
      <v-layer ref="layer">
        <v-rect
          v-for="item in rectangles"
          :key="item.id"
          :config="item"
          @keydown.ctrl.c="copyShape"
          @transformend="handleTransformEnd"
          @contextmenu="showContextMenu($event, item)"
        >
          <v-text
            :config="{
              text: item.name,
              x: item.x,
              y: item.y,
              fill: '#fff',
              fontSize: 16,
              align: 'center',
              verticalAlign: 'middle',
              listening: false,
              visible: !!item.name, // Ocultar el texto si el nombre está vacío
              draggable: false,
              width: item.width,
              height: item.height
            }"
            :style="{ textAlign: item.name ? 'center' : 'left' }"
          >
          </v-text>
        </v-rect>
        <v-circle
          v-for="item in circles"
          :key="item.id"
          :config="item"
          @keydown.ctrl.c="copyShape"
          @transformend="handleTransformEnd"
          @contextmenu="showContextMenu($event, item)"
        />
        <v-arc
          v-for="item in arcs"
          :key="item.id"
          :config="item"
          @keydown.ctrl.c="copyShape"
          @transformend="handleTransformEnd"
          @contextmenu="showContextMenu($event, item)"
        />
        <v-transformer ref="transformer" />
      </v-layer>
    </v-stage>

    <div v-show="contextMenuVisible" :style="contextMenuStyle" class="context-menu">
      <div class="context-menu-item" v-for="(item, index) in contextMenuItems" :key="index" @click="handleContextMenuSelect(item)">
        {{ item.text }}
        <input v-if="item.action === 'changeColor'" type="color" v-model="colorPickerValue" @input="updateColor">
      </div>
    </div>
  </div>
</template>

<script>
import { Chrome } from 'vue-color';
import { Rect, Circle, Wedge, Arc } from 'vue-konva';

const width = window.innerWidth;
const height = window.innerHeight;

export default {
  data() {
    return {
      stageSize: {
        width: width - 20,
        height: height - 0,
        fill: 'red'
      },
      rectangles: [],
      circles: [],
      arcs: [],
      selectedShapeName: '',
      contextMenuVisible: false,
      contextMenuItems: [],
      contextMenuPosition: { x: 0, y: 0 },
      colorPickerValue: '#000000',
      copiedShape: null,
    };
  },
  computed: {
    contextMenuStyle() {
      return {
        top: this.contextMenuPosition.y + 'px',
        left: this.contextMenuPosition.x + 'px',
      };
    },
  },
  methods: {
    addRectangle() {
      const rect = {
        id: `${this.rectangles.length + 1}`,
        rotation: 0,
        x: 100,
        y: 100,
        width: 100,
        height: 80,
        scaleX: 1,
        scaleY: 1,
        fill: '#ff0000',
        name: 'rect' + (this.rectangles.length + 1),
        draggable: true,
      };
      this.rectangles.push(rect);
    },
    addCircle() {
      const circle = {
        id: `${this.circles.length + 1}`,
        rotation: 0,
        x: 150,
        y: 150,
        radius: 50,
        scaleX: 1,
        scaleY: 1,
        fill: '#0000ff',
        name: 'circle' + (this.circles.length + 1),
        draggable: true,
      };
      this.circles.push(circle);
    },
    addArc() {
      const arc = {
        id: `${this.arcs.length + 1}`,
        rotation: 0,
        x: this.$refs.stage.getStage().width() / 2,
        y: this.$refs.stage.getStage().height() / 2,
        innerRadius: 95,
        outerRadius: 120,
        angle: 300,
        fill: 'yellow',
        stroke: 'black',
        strokeWidth: 4,
        name: 'arc' + (this.arcs.length + 1),
        draggable: true,
      };
      this.arcs.push(arc);
    },
    handleTransformEnd(e) {
      const shape = this.findShapeByName(this.selectedShapeName);
      if (shape) {
        if (shape.radius !== undefined) {
          shape.radius = e.target.radius();
        } else if (shape.angle !== undefined) {
          shape.angle = e.target.angle();
        } else {
          shape.x = e.target.x();
          shape.y = e.target.y();
          shape.width = e.target.width();
          shape.height = e.target.height();
          shape.rotation = e.target.rotation();
          shape.scaleX = e.target.scaleX();
          shape.scaleY = e.target.scaleY();
        }
      }
    },
    handleStageMouseDown(e) {
      if (e.target === e.target.getStage()) {
        this.selectedShapeName = '';
        this.updateTransformer();
        return;
      }

      const clickedOnTransformer =
        e.target.getParent().className === 'Transformer';
      if (clickedOnTransformer) {
        return;
      }

      const name = e.target.name();
      const shape = this.findShapeByName(name);
      if (shape) {
        this.selectedShapeName = name;
        // Ajustar las coordenadas del menú contextual en relación con la posición del ratón
        this.contextMenuPosition = { x: e.evt.layerX, y: e.evt.layerY };
      } else {
        this.selectedShapeName = '';
      }
      this.updateTransformer();
    },
    findShapeByName(name) {
      const allShapes = [...this.rectangles, ...this.circles, ...this.arcs];
      return allShapes.find(shape => shape.name === name);
    },
    showContextMenu(event, shape) {
      event.evt.preventDefault();
      this.selectedShapeName = shape.name;
      // Ajustar las coordenadas del menú contextual en relación con la posición del ratón
      this.contextMenuPosition = { x: event.evt.layerX, y: event.evt.layerY };
      this.contextMenuItems = [
        { text: 'Cambiar Nombre', action: 'rename' },
        { text: 'Cambiar Color', action: 'changeColor' }
      ];
      this.contextMenuVisible = true;
    },
    handleContextMenuSelect(item) {
      if (item.action === 'rename') {
        const newName = prompt('Ingrese el nuevo nombre para la forma:', this.selectedShapeName);
        if (newName !== null) {
          const shape = this.findShapeByName(this.selectedShapeName);
          if (shape) {
            shape.name = newName;
          }
        }
      } else if (item.action === 'changeColor') {
        // Aquí puedes implementar la lógica para cambiar el color de la forma seleccionada.
      }
      this.contextMenuVisible = false;
    },
    saveStageToJson() {
      const stage = this.$refs.stage.getStage();
      const json = stage.toJSON();
      localStorage.setItem('stageData', JSON.stringify(json));
    },
    loadStageFromJson() {
      const json = localStorage.getItem('stageData');
      if (json) {
        const data = JSON.parse(json);
        const data2 = JSON.parse(data);

        // Limpiar los arreglos de formas
        this.rectangles = [];
        this.circles = [];
        this.arcs = [];

        // Recorrer los datos cargados y agregar las formas a los arreglos correspondientes
        data2.children.forEach(shape => {
          shape.children.forEach(child => {
            if (child.className === 'Rect') {
              this.rectangles.push({
                id: child.attrs.id,
                rotation: child.attrs.rotation,
                x: child.attrs.x,
                y: child.attrs.y,
                width: child.attrs.width,
                height: child.attrs.height,
                scaleX: child.attrs.scaleX,
                scaleY: child.attrs.scaleY,
                fill: child.attrs.fill,
                name: child.attrs.name,
                draggable: child.attrs.draggable,
              });
            } else if (child.className === 'Circle') {
              this.circles.push({
                id: child.attrs.id,
                rotation: child.attrs.rotation,
                x: child.attrs.x,
                y: child.attrs.y,
                radius: child.attrs.radius,
                scaleX: child.attrs.scaleX,
                scaleY: child.attrs.scaleY,
                fill: child.attrs.fill,
                name: child.attrs.name,
                draggable: child.attrs.draggable,
              });
            } else if (child.className === 'Arc') {
              this.arcs.push({
                id: child.attrs.id,
                rotation: child.attrs.rotation,
                x: child.attrs.x,
                y: child.attrs.y,
                radius: child.attrs.radius,
                angle: child.attrs.angle,
                fill: child.attrs.fill,
                name: child.attrs.name,
                draggable: child.attrs.draggable,
              });
            }
          })
        });
      }
    },
    copyShape() {
      // Copiar la forma seleccionada
      const shape = this.findShapeByName(this.selectedShapeName);
      if (shape) {
        this.copiedShape = JSON.parse(JSON.stringify(shape));
      }
    },
    pasteShape() {
      // Pegar la forma copiada
      if (this.copiedShape) {
        const newShape = { ...this.copiedShape };
        newShape.id = this[this.copiedShape.name + 's'].length + 1;
        newShape.name = newShape.name.slice(0, -1) + newShape.id; // Cambiar el nombre para evitar duplicados
        newShape.x += 10; // Offset para evitar que se pegue encima de la forma original
        newShape.y += 10; // Offset para evitar que se pegue encima de la forma original
        this[this.copiedShape.name + 's'].push(newShape);
      }
    },
    updateColor() {
      // Actualizar el color de la forma seleccionada
      const shape = this.findShapeByName(this.selectedShapeName);
      if (shape) {
        shape.fill = this.colorPickerValue;
      }
    },
    updateTransformer() {
      const transformerNode = this.$refs.transformer.getNode();
      const stage = transformerNode.getStage();
      const { selectedShapeName } = this;

      const selectedNode = stage.findOne('.' + selectedShapeName);
      // do nothing if selected node is already attached
      if (selectedNode === transformerNode.node()) {
        return;
      }

      if (selectedNode) {
        // attach to another node
        transformerNode.nodes([selectedNode]);
      } else {
        // remove transformer
        transformerNode.nodes([]);
      }
    },
  },
  components: {
    'chrome-picker': Chrome,
    'v-rect': Rect,
    'v-circle': Circle,
    'v-wedge': Wedge,
    'v-arc': Arc,
  }
};
</script>

<style>
.context-menu {
  position: absolute;
  background-color: gray;
  border: 1px solid grey;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 0;
  list-style: none;
  margin: 0;
}

.context-menu-item {
  padding: 8px 12px;
  cursor: pointer;
}

.context-menu-item:hover {
  background-color: grey;
}
</style>
